body {
  max-height: 100%;
}

.container {
  left: 0;
  top: 40%;
  width: 100vw;
}
.container h1 {
  padding-top: .5em;
  padding-bottom: .5em;
  color: rgba(255, 255, 255, 0.9);
  opacity: 1;
  letter-spacing: 5px;
  font-family: 'Bungee Inline', cursive;
  font-weight: bold;
  overflow: scroll;
}

p, li, h2, h3, h4 {
  color: #343a40;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #343a40;
  text-decoration: underline;
}
a:hover {
  color: #b6b6b6;
}

.shadow {
  text-shadow: 4px 7px 0px #1c1c1c;
}


/*==========
   content
============*/
.content-container {
  top: 12%;
}
.content {
  background-color: rgba(247, 247, 247, 0.9);
  border-radius: .25rem;
  padding: .5em 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: 70vh;
}
.content h1 {
  color: #343a40;
}


/*========
   nav
=========*/
#my-nav {
  opacity: 0.7;
  margin-top: .5em;
  margin-left: 0;
}
#my-nav:hover, #my-sm-nav:hover {
  opacity: 1;
}
#my-sm-nav {
  background-color: rgba(247, 247, 247, 0.9);
  margin-top: .5em;
  margin-left: 0;
  width: 100vw;
}

.navbar-nav {
  background-color: #f7f7f7;
  padding: .5em;
}

.nav-link, .dropdown-item {
  color: #343a40;
  text-decoration: none;
}
.nav-link:hover, .dropdown-item:hover {
  color: #b6b6b6;
  text-decoration: none;
}
.nav-link:focus, .dropdown-item:focus {
  color: #343a40;
  text-decoration: none;
}

.dropdown-menu {
  background-color: #f7f7f7;
}

#brand-flag {
  text-decoration: none;
}
#brand-flag:hover {
  opacity: 1;
  color: #000000;
}

#brand-flag, #sm-brand-flag {
  font-family: 'Bungee Shade', cursive;
  background-color: #f7f7f7;
  font-size: 2em;
  border-radius: 0;
  padding: .35em .5em;
}
#sm-brand-flag {
  background-color: transparent;
  border: none;
}

#sm-toggle {
  margin-top: .5em;
  margin-right: .5em;
  border: none;
}

.mr-auto {
  background-color: transparent;
}

#navbarToggleExternalContent {
  border-left: 3px solid transparent;
}

.selected {
  font-weight: bold;
}


/*========
   home
=========*/
#home {
  background-image: url("../images/lol.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#home p {
  color: #fff;
  text-align: right;
}
#home h1 {
  font-size: 10vw;
  color: #fff;
  text-align: center;
  padding: 0;
  background-color: transparent;
  letter-spacing: normal;
  font-family: 'Bungee', cursive;
}
@media (min-width: 768px) {
  #home h1 {
    font-size: 2.5rem;
    text-align: left;
  }
  #home p {
    text-align: left;
  }
}
#home .container {
  top: 63%;
}

#icons>a {
  color: #fff;
  font-size: 1.6em;
}
#icons>a:hover {
  color: #b6b6b6;
  font-size: 1.6em;
}
svg {
  margin-right: 1em;
}


/*===========
   timeline
============*/
/* Adapted from https://www.doggoforhire.com/ */
/* CSS at https://d33wubrfki0l68.cloudfront.net/css/2089612b4dc0c615c11ba0387da31e5d623ab833/style.min.css */
#timeline {
  position: relative;
  margin: 0 auto;
  padding-top: 2em;
}
#timeline ul {
  list-style: none;
  padding: 0;
}
#timeline li {
  color: #343a40;
}
#timeline h1 {
  text-align: center;
  color: #343a40;
  opacity: 1;
  letter-spacing: 5px;
  font-family: 'Baloo', cursive;
  font-weight: bold;
}
.timeline__content {
  background-color: #f7f7f7;
  box-shadow: 2px 5px 10px 4px #343a4038;
}
#timeline h3 {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
}
#timeline h3.emoji {
  font-size: 2.5em;
}
#timeline h4 {
  font-size: 1.2rem;
  color: #757575;
  margin-bottom: 1em;
}

.timeline__ul li:after {
    display: table;
    content: "";
    clear: both
}

.timeline {
    padding: 2rem;
}

.timeline__title {
    margin-top: 2rem;
}

.timeline__ul {
    position: relative;
    max-width: 1300px;
    margin: 2rem auto 0
}

.timeline__ul:before {
    content: "";
    position: absolute;
    left: 0;
    margin-left: -.25rem;
    height: 100%;
    width: .5rem;
    background: #d0d0d0
}

@media (min-width: 700px) {
    .timeline__ul:before {
        left:50%
    }
}

.timeline__ul li:before {
    content: '';
    position: absolute;
    left: 0;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin-top: 3rem;
    margin-left: -1rem;
    background: #3a3a3c
}

@media (min-width: 700px) {
    .timeline__ul li:before {
        left:50%
    }
}

.timeline__ul li:nth-child(odd) div {
    float: right
}

@media (min-width: 700px) {
    .timeline__ul li:nth-child(odd) div:before {
        left:45%;
        border-right-color: transparent;
        border-left: 1rem solid #f3f3f5
    }
}

@media (min-width: 700px) {
    .timeline__ul li:nth-child(odd) div {
        float:left
    }
}

.timeline__ul li:nth-child(even) div {
    float: right
}

@media (min-width: 700px) {
    .timeline__ul li:nth-child(even) div:before {
        right:45%;
        left: auto
    }
}

.timeline__content {
    border-radius: 4px;
    background: #f3f3f5;
    margin: 2rem 0;
    padding: 2rem;
    width: 90%
}

@media (min-width: 700px) {
    .timeline__content {
        width:45%
    }
}

.timeline__content:before {
    content: '';
    position: absolute;
    left: 10%;
    margin-top: -1rem;
    margin-left: -1rem;
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-right: 1rem solid #f3f3f5
}

@media (min-width: 700px) {
    .timeline__content:before {
        margin-left:0
    }
}

.inactive:before {
    background: #fff!important;
    border: 2px solid #3a3a3c
}

.inactive div {
    opacity: .5
}

.timeline__content h3 {
    line-height: 1.1;
    font-size: 2rem;
    margin-bottom: 1rem
}

.timeline__content p {
    /* text-align: center */
    margin-bottom: 0.2rem;
}
