
.under-construction {
  height: 25em;
}
.under-construction>h1 {
  font-size: 6em;
  color: #333;
  text-align: center;
}
.under-construction>h2 {
  text-align: center;
}

/************/
/* BASICS */
/************/

h1 {
  color: #65A859;
}

@font-face {
  font-family: "dear-joe";
  src: url('../fonts/dear-joe.otf') format("opentype");
}

.dear-joe {
  font-family: 'dear-joe';
}

@font-face {
  font-family: "gov";
  src: url('../fonts/governor.ttf') format("opentype");
}

.gov {
  font-family: 'gov';
}

.right-justify {
  text-align: right;
}

.section {
  padding-bottom: 5em;
}

/* JUMBOTRON */
.jumbotron {
    padding-top: 11em;
    padding-bottom: 9em;
    /*color: #fff;*/
}

.jumbotron p {
  line-height: 1.7em;
  letter-spacing: .03em;
}

#bigger {
  font-size: 90px;
}

#r {
  font-size: 34px;
}

@media only screen and (max-width: 768px) {
  #r {
    font-size: 21px;
  }
}

.jumbotron {
  /* image source: https://www.flickr.com/photos/conversely/1258089658/ */
  background-image: url('../images/qwerty.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
}

/************/
/* NAV BAR */
/************/

.navbar-inverse {
  background-color: #fff;
  border-color: #65A859;
}

.navbar-inverse .navbar-nav>li>a {
    color: #333;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #65A859;
}

.navbar-inverse .navbar-brand {
    color: #65A859;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #333;
}

.navbar-inverse .navbar-nav>li>a:hover {
  background-color: #65A859;
  color: #fff;
}

/***********/
/* LINKS */
/***********/

a {
  color: #65A859;
}

a:hover {
  color: #65A859;
}

.not-a-link {
	color: #65A859;
}

.not-a-link-button {
  color: #333;
}

.not-a-link:focus, .not-a-link:hover {
  color: #65A859;
  text-decoration: none;
}

.not-a-link-icon {
  color: #65A859;
}

.not-a-link-icon:focus, .not-a-link-icon:hover {
  color: #333;
  text-decoration: none;
}

.not-a-link-grey {
  color: #333;
}

.not-a-link-grey:focus, .not-a-link-grey:hover {
  color: #333;
  text-decoration: none;
}

.not-a-link-button1 {
  color: #fff;
}

.not-a-link-button1:focus, .not-a-link-button1:hover {
  color: #fff;
  text-decoration: none;
}

.not-a-link-button2 {
  color: #333;
}

.not-a-link-button2:focus, .not-a-link-button2:hover {
  color: #333;
  text-decoration: none;
}

.form-control {
  margin-bottom: 25px;
}

.white-space {
  padding-bottom: 20px;
}

/**********/
/* SKILLS */
/**********/

.big {
  font-size: 18px;
  padding: .35em;
  margin: .25em;
  line-height: 2.5em;
  white-space: nowrap;
}

.inline {
  display: inline;
  padding-right: .2em;
}

div .skills {
  margin-bottom: 1em;
}

/**********/
/* SLIDES */
/**********/
#leftArrow {
  padding-top: 100%;
}

#rightArrow {
  padding-top: 100%;
}

/*#slide:hover {
  -webkit-transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
}*/

/*#slideDesc {

}*/

/**********/
/* MISC */
/**********/

#website-label {
  text-align: center;
}

.panel-body {
  padding: 25px;
}

#roch {
  background-image: url('../images/rushrhizzle.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  padding-bottom: 5em;
}

#nantes {
  background-image: url('../images/unantes.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  padding-bottom: 5em;
}

footer p {
  color: #ACC9A7;
}

.fa {
  font-size: 50%;
}

.featured-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
}

.rotate {
  padding-top: 2em;
  transform: rotate(-1.5deg);
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #333;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #eee;
}

code {
  color: #5a964f;
  background-color: #eff6ee;
}

.centered {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

#ies {
  color: #333;
  text-decoration: none;
}

#ies:focus, #ies:hover {
  color: #65A859;
  text-decoration: underline;
}
